<p-fluid class="m-4 space-y-6">

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="on" class="block w-full">
      <input id="register-username" pInputText [formControl]="registerUsername" class="w-full"/>
      <label for="register-username">Username</label>
    </p-floatlabel>
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-envelope"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="on" class="block w-full">
      <input id="register-email" pInputText type="email" [formControl]="registerEmail" class="w-full"/>
      <label for="register-email">Email</label>
    </p-floatlabel>
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-lock"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="on" class="block w-full">
      <input pPassword type="password" id="register-password" [formControl]="registerPassword"/>
      <label for="register-password">Password</label>
    </p-floatlabel>
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-lock"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="on" class="block w-full">
      <input pPassword type="password" id="confirm-password" [formControl]="registerConfirmPassword"
             [feedback]="false"/>
      <label for="confirm-password">Repeat Password</label>
    </p-floatlabel>
  </p-inputgroup>

  <div class="block w-full">
      <p-button icon="pi pi-user-plus" iconPos="left" [loading]="isRegistering" label="Register"
                class="py-2" [routerLink]="['/initialize-farm']"></p-button>
  </div>

</p-fluid>
