<p-fluid>
  <form [formGroup]="cropForm" (ngSubmit)="onSubmit()" class="max-w-xl mx-auto my-auto space-y-4 h-full flex flex-col">
    <p-card header="Crop Details">
      <p-floatlabel variant="on" class="block w-full mt-2">
        <p-select id="name" [options]="cropEntries()" formControlName="selectedCrop" optionLabel="name"
        [filter]="true" filterBy="name" appendTo="body"></p-select>
        <label for="name">Crop Name</label>
      </p-floatlabel>

      <div class="my-4">
        @if (cropForm.controls.selectedCrop.errors?.['required'] && (cropForm.controls.selectedCrop.dirty || cropForm.controls.selectedCrop.touched || submitted())) {
          <p-message severity="error"
          text="Crop name is required"></p-message>
        }
      </div>

      <p-floatlabel variant="on" class="block w-full">
        <input id="variety" pInputText formControlName="variety" class="w-full"/>
        <label for="variety">Variety</label>
      </p-floatlabel>
    </p-card>

    <p-card header="Planting Details" class="mt-4">
      <p-floatlabel variant="on" class="block w-full mt-2">
        <p-calendar id="plantingDate" [formControl]="cropForm.controls.plantingDate" dateFormat="yy-mm-dd"
        [showIcon]="true" appendTo="body"></p-calendar>
        <label for="plantingDate">Planting Date</label>
      </p-floatlabel>

      @if (cropForm.controls.selectedCrop.value && !cropForm.controls.selectedCrop.value.isPerennial) {
        <p-floatlabel
          variant="on" class="block w-full mt-4">
          <p-panel showHeader="false" id="expectedHarvestDatesNp">
            <div #calendarContainer1 class="flex flex-row w-full gap-2 mt-4">
              <p-calendar [formControl]="cropForm.controls.expectedHarvestPeriod" selectionMode="range"
                dateFormat="yy-mm-dd" [showIcon]="true" class="z-10 w-full" appendTo="calendarContainer1"
              placeholder="Harvest period"></p-calendar>
              @if (cropForm.controls.selectedCrop.value) {
                <label for="expectedHarvestDatesNp">Expected Harvest
                Period</label>
              }
            </div>
          </p-panel>
        </p-floatlabel>
      }

      @if (cropForm.controls.selectedCrop.value && cropForm.controls.selectedCrop.value.isPerennial) {
        <p-floatlabel
          variant="on" class="block w-full mt-4">
          <p-panel showHeader="false" id="expectedHarvestDatesP" class="z-10">
            <div class="flex flex-col w-full gap-4 mt-1">
              <p-floatlabel variant="on" class="block w-full mt-4">
                <p-calendar [formControl]="cropForm.controls.expectedEarlyHarvestPeriod" selectionMode="range"
                  dateFormat="yy-mm-dd" [showIcon]="true" class="z-20 w-full" appendTo="body"
                placeholder="Harvest period" id="early"></p-calendar>
                <label for="early">Early Harvest</label>
              </p-floatlabel>
              <p-floatlabel variant="on" class="block w-full">
                <p-calendar [formControl]="cropForm.controls.expectedLateHarvestPeriod" selectionMode="range"
                  dateFormat="yy-mm-dd" [showIcon]="true" class="z-20 w-full" appendTo="body"
                placeholder="Harvest period" id="late"></p-calendar>
                <label for="late">Late Harvest</label>
              </p-floatlabel>
              @if (cropForm.controls.selectedCrop.value) {
                <label for="expectedHarvestDatesP">Expected Harvest
                Period</label>
              }
            </div>
          </p-panel>
        </p-floatlabel>
      }

      <p-floatlabel variant="on" class="block w-full mt-4">
        <p-select id="field" [options]="fieldsEntries()" formControlName="field" optionLabel="name"
        [filter]="true" filterBy="name" appendTo="body"></p-select>
        <label for="field">Field</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="block w-full mt-4">
        <p-inputNumber id="area" formControlName="area" [min]="1" [showButtons]="true" suffix=" m²"></p-inputNumber>
        <label for="area">Area (square meters)</label>
      </p-floatlabel>
    </p-card>

    <div class="flex justify-content-end">
      <button pButton type="button" label="Cancel" (click)="onCancel()" class="p-button-text mr-2"></button>
      <button pButton type="submit" label="Save" [disabled]="!cropForm.valid" [loading]="submitting()"></button>
    </div>
  </form>
</p-fluid>
