<div class="min-h-screen flex items-center justify-center p-4">
  <div class="w-full max-w-md p-6 rounded-lg shadow-md">

    <h1 class="text-2xl font-semibold text-center text-primary mb-8">
      Welcome to Farm Management
    </h1>

    <p-fluid class="mt-8 space-y-4">

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on" class="block w-full">
          <input id="username" pInputText [formControl]="username" class="w-full"/>
          <label for="username">Username</label>
        </p-floatlabel>
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input pPassword type="password" id="password" [formControl]="password"/>
          <label for="password">Password</label>
        </p-floatlabel>
      </p-inputgroup>

      <div class="flex items-center space-x-2">
        <p-checkbox id="rememberMe" [(ngModel)]="rememberMe" binary="true"></p-checkbox>
        <label for="rememberMe" class="text-sm">Remember Me</label>
      </div>

      <div class="block w-full">
        <p-button icon="pi pi-user" label="Login" class="py-2"></p-button>
      </div>

    </p-fluid>
  </div>
</div>
