<h2 class="text-3xl font-bold mb-4 ml-4">Fields Management</h2>

<p-card>
  <form [formGroup]="form" (ngSubmit)="onSave()" class="w-full h-full">
    <app-polygon [polygons]="form.controls['fields'].value" formControlName="fields"
                 mapHeight="h-[32rem]"></app-polygon>

    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Discard" icon="pi pi-times" styleClass="p-button-secondary w-36" (click)="onDiscard()"></p-button>
      <p-button type="submit" label="Save" icon="pi pi-check" styleClass="w-36" [loading]="isSaving()"></p-button>
    </div>
  </form>
</p-card>
