<div class="min-h-screen flex items-center justify-center bg-landing bg-cover bg-center">
  <!--  <div class="absolute top-0 left-0 w-full h-full bg-surface-950 opacity-80"></div>-->
  <!--  <div class="w-full max-w-5xl p-4 rounded-3xl shadow-md backdrop-blur-lg backdrop-brightness-50">-->


  <p-card class="w-full max-w-2xl shadow-xl">
    <div class="w-full h-full px-6">
    <h1 class="text-3xl font-semibold text-center text-primary m-8">
      Let's configure your farm
    </h1>
    <p-stepper [(value)]="activeStep">
      <p-step-list>
        <p-step [value]="1" class="flex flex-row flex-auto gap-2">
          <ng-template #content let-activateCallback="activateCallback" let-value="value">
            <div class="bg-transparent border-0 inline-flex flex-col gap-2">
                    <span
                      class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                      [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep
                        }">
                        <i class="pi pi-user"></i>
                    </span>
            </div>
          </ng-template>
        </p-step>

        <p-step [value]="2" class="flex flex-row flex-auto gap-2">
          <ng-template #content let-activateCallback="activateCallback" let-value="value">
            <div class="bg-transparent border-0 inline-flex flex-col gap-2">
                    <span
                      class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                      [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep
                        }"
                    >
                        <i class="pi pi-map"></i>
                    </span>
            </div>
          </ng-template>
        </p-step>

        <p-step [value]="3" class="flex flex-row flex-auto gap-2">
          <ng-template #content let-activateCallback="activateCallback" let-value="value">
            <div class="bg-transparent border-0 inline-flex flex-col gap-2">
                    <span
                      class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                      [ngClass]="{
                            'bg-primary text-primary-contrast border-primary': value <= activeStep,
                            'border-surface': value > activeStep
                        }"
                    >
                        <i class="pi pi-id-card"></i>
                    </span>
            </div>
          </ng-template>
        </p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col gap-2 mx-auto max-w-md min-h-64">
              <div class="text-center mt-4 text-2xl font-semibold">
                Complete your farmer profile
              </div>

              <div class="text-center mb-8 text-lg font-semibold">
                Provide your details to get started.
              </div>

              <p-fluid class="flex flex-col gap-4">

                <p-floatlabel variant="on" class="block w-full">
                  <input id="name" pInputText [formControl]="name" class="w-full" [pAutoFocus]="true"/>
                  <label for="name">Name</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="block w-full">
                  <p-date-picker id="birthdate" [formControl]="birthdate" showIcon iconDisplay="input"/>
                  <label for="birthdate">Birthdate</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="block w-full">
                  <p-select id="gender" [options]="genders" [formControl]="gender"/>
                  <label for="gender">Gender</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="block w-full">
                  <p-select id="country" [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                            filterBy="name" [showClear]="true" class="w-full">
                    <ng-template #selectedItem let-selectedOption>
                      <div class="flex items-center gap-2">
                        <div class="w-4">{{ selectedOption.code }}</div>
                        <div>{{ selectedOption.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country #item>
                      <div class="flex items-center gap-2">
                        <div class="w-4">{{ country.code }}</div>
                        <div>{{ country.name }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="country">Country</label>
                </p-floatlabel>
              </p-fluid>

            </div>
            <div class="flex justify-end mt-11">
              <p-button (onClick)="activateCallback(2)" label="Next" icon="pi pi-arrow-right" iconPos="right"/>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col gap-2 mx-auto max-w-lg">
              <div class="text-center mt-4 mb-4 text-2xl font-semibold">
                Configure your farm
              </div>
              <div class="block w-full">
                <app-polygon></app-polygon>
              </div>
            </div>
            <div class="flex justify-between mt-6">
              <p-button (onClick)="activateCallback(1)" label="Back" severity="secondary" icon="pi pi-arrow-left"/>
              <p-button (onClick)="activateCallback(3)" label="Finish" icon="pi pi-check" iconPos="right"/>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col items-center gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
              <div class="text-center mt-4 mb-4 text-xl font-semibold">
                Farm configured successfully
              </div>
                <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg"/>
            </div>
            <div class="flex justify-end">
              <p-button label="Go to Dashboard" icon="pi pi-arrow-up-right" iconPos="right"/>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
    </div>
  </p-card>

  <!--  </div>-->
</div>
