<div class="flex flex-col items-center gap-2 mx-auto">

  <h1 class="text-4xl font-semibold text-center text-primary mt-8">
    Access Denied
  </h1>

  <i class="pi pi-lock text-red-500 justify-center mt-8" style="font-size: 2rem"></i>

  <p class="text-center text-lg text-surface-600 m-8">
    You are not authorized to access this page.
  </p>
</div>
<div class="flex justify-end">
  <p-button label="Go Back to Home" [routerLink]="['/']" icon="pi pi-arrow-up-right"
            iconPos="right"/>
</div>
