<p-card class="!w-full !h-full flex flex-col">
  <p-tabView [scrollable]="true">
    <p-tabPanel header="Board View" leftIcon="pi pi-th-large">
      <ng-template pTemplate="content" class="!h-full">
        <p-scroll-panel [style]="{ height: '588px' }">
          <app-task-monitor-board></app-task-monitor-board>
        </p-scroll-panel>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Calendar View" leftIcon="pi pi-calendar">
      <ng-template pTemplate="content">
        <p-scroll-panel [style]="{ height: '588px' }">
          <app-task-monitor-calendar></app-task-monitor-calendar>
        </p-scroll-panel>
      </ng-template>
    </p-tabPanel>
  </p-tabView>

  <p-speeddial [model]="items" direction="up" class="relative right-8 bottom-8"
               [tooltipOptions]="{ tooltipPosition: 'right' }"/>
</p-card>
